---
import BaseLayout from "$layouts/BaseLayout.astro";
import Header from "$components/Header.astro";
import SectionHeader from "$components/SectionHeader.astro";

// Astro Files
import AboutSection from "$compSec/AboutSection.astro";
import ContactSection from "$compSec/ContactSection.astro";
import FAQSection from "$compSec/FAQSection.astro";
import HeroSection from "$compSec/HeroSection.astro";
import ServicesSection from "$compSec/ServicesSection.astro";

// Svelte Files
import ShopSection from "$svelteSec/ShopSection.svelte";
import WorkSection from "$svelteSec/WorkSection.svelte";
---

<BaseLayout title="GraphicsByStorm">
	<Header />

	<section id="hero" class="border-b border-white/10">
		<HeroSection />
	</section>

	<section id="work" class="border-b border-white/10">
		<SectionHeader label="Work" href="/work" />
		<WorkSection client:load />
	</section>

	<section id="about" class="border-b border-white/10">
		<SectionHeader label="About" href="/about" />
		<AboutSection />
	</section>

	<section id="services" class="border-b border-white/10">
		<SectionHeader label="Services" href="/services" />
		<ServicesSection />
	</section>

	<section id="faq" class="border-b border-white/10">
		<SectionHeader label="FAQ" href="/faq" />
		<FAQSection />
	</section>

	<section id="shop" class="border-b border-white/10">
		<SectionHeader label="Shop" href="/shop" />
		<ShopSection client:load />
	</section>

	<section id="contact" class="border-b border-white/10">
		<SectionHeader label="Contact" href="/contact" />
		<ContactSection />
	</section>
</BaseLayout>