---
import BaseLayout from "$layouts/BaseLayout.astro";
import Header from "$components/Header.astro";

// Astro sections
import HeroSection from "$compSec/HeroSection.astro";
import AboutSection from "$compSec/AboutSection.astro";
import ServicesSection from "$compSec/ServicesSection.astro";
import FAQSection from "$compSec/FAQSection.astro";
import ContactSection from "$compSec/ContactSection.astro";

// Svelte sections
import WorkSection from "$svelteSec/WorkSection.svelte";
import ShopSection from "$svelteSec/ShopSection.svelte";
---
<BaseLayout title="GraphicsByStorm">
  <Header />

  <section id="hero">
    <HeroSection />
  </section>

  <section id="work">
    <div class="section-wrap">
      <h2 class="sr-only">Work</h2>
      <WorkSection client:load />
    </div>
  </section>

  <section id="about">
    <AboutSection />
  </section>

  <section id="services">
    <ServicesSection />
  </section>

  <section id="faq">
    <FAQSection />
  </section>

  <section id="shop">
    <div class="section-wrap">
      <h2 class="sr-only">Shop</h2>
      <ShopSection client:load />
    </div>
  </section>

  <section id="contact">
    <ContactSection />
  </section>
</BaseLayout>
