---
import BaseLayout from '$layouts/BaseLayout.astro';
import Header from '$components/Header.astro';
import WorkSection from '$svelteSec/WorkSection.svelte';
import SectionHeader from '$components/SectionHeader.astro';
---
<BaseLayout title="Work">
    <Header />
    <main class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-12">
        <SectionHeader label="Work" href="/#work" />
        <WorkSection client:load />
    </main>
</BaseLayout>