---
import "$styles/theme.css";
import BackgroundFX from "$components/BackgroundFX.astro";
const { title = "GraphicsByStorm" } = Astro.props;
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{title}</title>
  </head>
  <body class="antialiased">
    <BackgroundFX />
    <slot />
  </body>
</html>
